@import './base.css';
a {
  text-decoration: none;
  color: #217093;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    /* 透明度: 0.2 */
    background-color: rgba(33, 112, 147, 0.2);
  }
}
.el-dropdown__popper {
  min-width: 150px !important;
}
.el-dropdown-menu__item {
  font-size: 20px !important;
  line-height: 40px !important;
  /* 文字居中 */
  text-align: center !important;
  width: 100% !important;
  display: block !important;
}
.el-form .el-form-item__label {
  font-size: large;
}
.tox .tox-notification--warn,
.tox .tox-notification--warning {
  display: none !important;
}
.el-upload-list--text .el-upload-list__item.is-success .el-upload-list__item-status-label {
  right: 0;
  transform: translateX(15px);
}
